{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{% static 'output.css' %}" rel="stylesheet"  />
    <title>
      {% block head_title %}Sistema de Bodega Electrica{% endblock %}
    </title>
  </head>
  <body>
    <nav class="bg-white shadow-lg">
        <div class="max-w-6xl mx-auto px-4">
            <div class="flex justify-between">
                <div class="flex space-x-4">
                    <!-- Logo -->
                    <div>
                         <a href="#" class="flex items-center py-5 px-2 text-gray-700">
                            <img src="https://eie.ucr.ac.cr/static/img/logos/EIE_v.png" alt="Logo" class="w-20 mr-2">
                        </a>
                    </div>

                    <!-- Primary Navigation -->
                    <div class="hidden md:flex items-center space-x-1">
                        <a href="#" class="py-5 px-3 text-gray-700 hover:text-gray-900">Página Principal</a>
                        <a href="#" class="py-5 px-3 text-gray-700 hover:text-gray-900">Mis Ordenes</a>
                        <a href="#" class="py-5 px-3 text-gray-700 hover:text-gray-900">Tramites</a>
                        <a href="#" class="py-5 px-3 text-gray-700 hover:text-gray-900">Contacto</a>
                    </div>
                </div>

                {% if user.is_authenticated %}
                <div class="hidden md:flex items-center space-x-1">
                     <form action="{% url 'logout' %}" method="post">
  {% csrf_token %}
  <button type="submit" class="py-2 px-3 bg-gray-500 text-white rounded hover:bg-gray-400">Log Out</button>
</form>
                </div>

                {% else %}
                <!-- Secondary Navigation -->
                <div class="hidden md:flex items-center space-x-1">
                    <a href="{% url 'login' %}" class="py-2 px-3 bg-blue-500 text-white rounded hover:bg-blue-400">Iniciar sesión</a>
                    <a href="{% url 'login' %}" class="py-2 px-3 bg-gray-500 text-white rounded hover:bg-gray-400">Registrarse</a>
                </div>
                {% endif %}

                <!-- Mobile Menu Button -->
                <div class="md:hidden flex items-center">
                    <button class="mobile-menu-button">
                        <svg class="w-6 h-6 text-gray-700" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>

        <!-- Mobile Menu -->
        <div class="mobile-menu hidden md:hidden">
            <a href="#" class="block py-2 px-4 text-sm hover:bg-gray-200">Página Principal</a>
            <a href="#" class="block py-2 px-4 text-sm hover:bg-gray-200">Mis Ordenes</a>
            <a href="#" class="block py-2 px-4 text-sm hover:bg-gray-200">Tramites</a>
            <a href="#" class="block py-2 px-4 text-sm hover:bg-gray-200">Contacto</a>
        </div>
    </nav>
    {% if user.is_authenticated %}
<div>{% block content %} {% endblock %}</div>
{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">Log In</a>
{% endif %}

    <script
    src="{% static 'tw-elements/js/tw-elements.umd.min.js' %}"
    type="text/javascript"></script>
  <script>
        const mobileMenuButton = document.querySelector('.mobile-menu-button');
        const mobileMenu = document.querySelector('.mobile-menu');

        mobileMenuButton.addEventListener('click', () => {
            mobileMenu.classList.toggle('hidden');
        });
    </script>
  </body>
</html>