{% extends "base.html" %} {% block content %}
<div class="max-w-6xl mx-auto px-4 py-8 bg-white rounded-lg shadow-md mt-16">

    <h2 class="text-2xl font-bold mb-6 text-center">Mis Órdenes</h2>


    <ul class="divide-y divide-gray-200">
        {% for order in page_obj %}
        <li class="py-4">
            <a href="{% url 'orden' order.pk %}" class="flex justify-between items-center">
                <!-- Group Information -->
                <div class="text-gray-700 w-2/5">
                    {{ order.group.class_id.name }} - Grupo {{ order.group.number }}
                </div>
                
                <!-- Semester -->
                <div class="text-gray-700 w-3/5">
                    {{ order.group.semester }}
                </div>
                
                <!-- Student -->
                {% if request.user.role == "teacher" %}
                <div class="text-gray-700 w-1/5">
                    {% with order.userorder_set.all|first as user_order %}
                        {% if user_order %}
                            {{ user_order.user.name }}
                            {% if user_order.user.student_id %}
                                ({{ user_order.user.student_id }})
                            {% endif %}
                        {% else %}
                            -
                        {% endif %}
                    {% endwith %}
                </div>
                {% endif %}
            </a>
        </li>
        {% empty %}
        <li class="py-4 text-center text-gray-500">No tienes órdenes registradas</li>
        {% endfor %}
    </ul>

    <div class="pagination ">
    <div class="step-links flex w-full justify-between items-center p-2">
        {% if page_obj.has_previous %}
        <a href="?page=1" class="mx-2">Primero</a>
        <a href="?page={{ page_obj.previous_page_number }}" class="mx-2">Previo</a>
        {% else %}
        <div></div>
        <div></div>
        {% endif %}

        <span class="current font-bold mx-4">
            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="mx-2">Siguiente</a>
        <a href="?page={{ page_obj.paginator.num_pages }}" class="mx-2">Última</a>
        {% else %}
        <div></div>
        <div></div>
        {% endif %}
    </div>
</div>
</div>
{% endblock %}