{% extends "base.html" %} {% block content %}
<div class="max-w-6xl mx-auto px-4 py-8 mt-16">
    {{ form.media.css }}
    <style>
        input, select {width: 100%}
    </style>
    <div class="bg-white rounded-lg p-6 shadow-lg backdrop-blur-xl">



        <div class="max-w-md mx-auto space-y-6">
            <!-- Security token -->
            {% csrf_token %}
            <h2 class="text-2xl font-bold mb-6 text-center">Detalles de la Orden</h2>
            <div class="flex justify-between items-center  ">
                <div class="block text-gray-700 text-l font-bold mb-2 space-y-4 my-6">Curso: {{ order.group.class_id.name}} - Grupo {{ order.group.number}}</div>

                <div class="block text-gray-700 text-l font-bold mb-2 space-y-4 my-6">{{ order.group.semester}}</div>
            </div>

            <div class="flex justify-between items-center  ">
                <div>
                    <div class="block text-gray-700 text-l font-bold mb-2 space-y-4 my-6">Equipo de Trabajo:</div>
                    <ul>
                        {% for member in order.student.all %}
                        <li  class="text-gray-700"> -   {{ member.student_id }} - {{ member.name }}</li>
                        {% endfor %}
                    </ul>
                </div>

                <div>
                     <div class="block text-gray-700 text-l font-bold mb-2 space-y-4 my-6">Profesor a Cargo:</div>
                     <div class="block text-gray-700 text-l font-bold mb-2 space-y-4 my-6">{{ order.group.professor.name}}</div>
                </div>

            </div>

             <div class="flex justify-center mt-8">
                    <input type="submit" value="Agregar Articulo" class="py-2 px-4 bg-blue-500 text-white rounded-lg hover:bg-blue-400 focus:outline-none focus:ring-2 focus:ring-blue-300">
               </div>

            <h3 class="text-xl font-bold mb-6 text-center">Lista de Articulos</h3>



             <ul class="divide-y divide-gray-400">
                <!-- Iterate over object_list -->
                <li></li>
                 <div class="flex justify-between items-center">
                        <span class="text-gray-700 w-1/4 text-center font-bold">ARTICULO</span>
                        <span class="text-gray-700 w-1/4 text-center font-bold">CANTIDAD</span>
                        <span class="text-gray-700 w-1/4 text-center font-bold">CODIGO</span>
                        <span class="text-gray-700 w-1/4 text-center font-bold">ESTADO</span>
                 </div>
                {% for object in items %}
                <!-- Display Objects -->
                <li class="py-4">
                    <div class="flex justify-between items-center">
                        <span class="text-gray-700 w-1/4 text-center">{{ object.item.name }}</span>
                        <span class="text-gray-700 w-1/4 text-center">{{ object.quantity }}</span>
                        <span class="text-gray-700 w-1/4 text-center">{{ object.code }}</span>
                        <span class="text-gray-700 w-1/4 text-center">{{ object.status }}</span>
                    </div>
                </li>
                {% empty %}
                <li class="py-4 text-center text-gray-500">No objects yet.</li>
                {% endfor %}
                 <li></li>
            </ul>
        </div>

    </div>
</div>
{% endblock %}