{% extends "base.html" %}

{% block content %}
<div class="max-w-xl mx-auto mt-8 bg-white p-8 rounded-lg shadow-lg">
    <h2 class="text-2xl font-bold mb-6 text-center">Cambiar Contraseña</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-6">
            <label for="old_password" class="block text-sm font-medium text-gray-700 mb-2">Contraseña Antigua</label>
            <input type="password" name="old_password" id="old_password" class="block w-full px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:border-blue-500 focus:ring-blue-500" required>
        </div>
        <div class="mb-6">
            <label for="new_password1" class="block text-sm font-medium text-gray-700 mb-2">Nueva Contraseña</label>
            <input type="password" name="new_password1" id="new_password1" class="block w-full px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:border-blue-500 focus:ring-blue-500" required>
        </div>
        <div class="mb-6">
            <label for="new_password2" class="block text-sm font-medium text-gray-700 mb-2">Confirmar Nueva Contraseña</label>
            <input type="password" name="new_password2" id="new_password2" class="block w-full px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:border-blue-500 focus:ring-blue-500" required>
        </div>
        <div class="mb-6">
            <h3 class="text-sm font-medium text-gray-700 mb-2">Requisitos de la nueva contraseña:</h3>
            <ul class="list-disc pl-5 text-sm text-gray-600">
                <li>Debe tener al menos 8 caracteres.</li>
                <li>Debe contener al menos una letra mayúscula.</li>
                <li>Debe contener al menos una letra minúscula.</li>
                <li>Debe contener al menos un número.</li>
                <li>Debe contener al menos un carácter especial (por ejemplo, @, #, $).</li>
            </ul>
        </div>
        <button type="submit" class="w-full bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-400">Cambiar Contraseña</button>
    </form>
</div>
{% endblock %}
